@using CodigoComun.Entities;
@model Deposito

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Soy en Index de Depositos</h1>
<br />
<h3>Datos del deposito</h3>
<ul>
    <li><b>Id: </b> @Model.Id</li>
    <li><b>Nombre: </b> @Model.Nombre</li>
    <li><b>Capacidad: </b> @Model.Capacidad</li>
    <li><b>Dirección: </b> @Model.Direccion</li>
</ul>